<html>

<head>
  <link href="https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700" rel="stylesheet" type="text/css" />
  <link rel=stylesheet type=text/css href="{{url_for('static',filename='styles.css')}}" />
</head>

<body>
  <center>
    <div class="col-md-2 text-right">
      <a href="{{url_for('gdisconnect')}}" style="font-size:16;text-align:right;position:absolute; top:15; right:15;">Signout</a>
    </div>
    <h1>Edit Category</h1>
    <form action="{{url_for('editCategory', category_id = item.id)}}" method='POST'>
      <p>Name:</p>
      <input type='text' size='30' name='name' placeholder='{{item.name}}'>
      <input type='submit' value='Edit'>
    </form>
    <a href='{{url_for('allcategories')}}'>Cancel</a>
    <center>
</body>

</html>
